_/

/bin/
*.jar
*.class
*.pdf
*.dvi
*.ps
*.info

*.gz
*.xz

*.swp
*.bak
\#*\#
.\#*
*~


/dist/*/*
!/dist/*/PKGBUILD

/jpp.aux
/jpp.cp
/jpp.cps
/jpp.fn
/jpp.ky
/jpp.log
/jpp.pg
/jpp.toc
/jpp.tp
/jpp.vr
/jpp.op
/jpp.ops
/jpp.pgs
/jpp.vrs

